<h1>Bienvenido a tu perfil</h1>
<img src="{{photoURL}}" alt="">
<h2>Nombre de usuario:{{username}}</h2>
<h3>Correo Electronico:{{email}}</h3>
<h4>Posicion en la que juegas:{{position}}</h4>
<p>Tipo de Usuario:{{role}}</p>
<a href="/user/edit"> Edit Profile</a>
<a href="/partidos/torneoNew/">Crear un torneo</a>
<a href="/partidos/amistosoNew/">Crear un Amistoso</a>




<h1>Califica a tu jugador</h1>
<p>Mueve el raton para dar calificación</p>
<div class="stars">
  <div class="rank"></div>
  <div class="score">0</div>
</div>



<script>

document.querySelector('.stars').
  addEventListener('click', function(e){
    var x = e.pageX;
    var elLeft = this.offsetLeft;
    var elWidth = this.offsetWidth;
    var rank = Math.ceil( 100 * (x - elLeft) / elWidth );
    this.querySelector('.rank').style.width = rank+'%'; 
    this.querySelector('.score').innerHTML = rank;
  });

</script>